<h1 class="m-4 color-theme">Contact us</h1>
	
<div class="bg-white m-4 p-4 shadow">
	<ul class="fs-3">
		<li>For any concerns, please call at our numbers between 9 AM to 6 PM:</li>
		<ul>
			<li>8824255535 (within India)</li>
			<li>9928456843 (within India)</li>
		</ul>
		<li>You can also visit our offices and to get insights of how our agents serve food at different places.</li>
		<ul>
			<li>Arya College Of Engineering And I.T, (JAIPUR)</li>
			<li>JKLU (JAIPUR)</li>
		</ul>
		<li>You can also email your suggestions and feedback at <mark>seva@gmail.com</mark></li>
	</ul>
</div>